@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;


}
#header{
    background-color: white;

}

#nav{
     text-align: center;
    background-color: white;
     display: flex;
}
.logo img{
    width: 10vw;
    height: 7vh;
    margin-left: 9vw;
    margin-top: 29px;

}
#nav ul{
    display: flex;
    color:  #46474d;
    text-decoration: none;
    margin-left: 23vw;
    gap:4vw;
    margin-top: 39px;



}
#nav ul li{
    display: inline-flex;
    font-weight: bolder;
    font-size:1.3vw;

}
#checkbtn{
    font-size: 30px;
    line-height: 9vw;
    display: none;
}
#check{
    display: none;
}
.btn{
    width: 10vw;
    height: 7vh;
    background-color: rgb(76, 175, 79);
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border:none;
    margin-left: 3vw ;
    margin-top: 28px;

}

.main{
    display: flex;
    background-color: rgb(245, 247, 250);
}
#left{
    width: 55%;
    color: rgb(76, 175, 79);
    margin-top:  20vh;

}
#left h1{
    font-size:4vw;
    font-weight: 600;
    color: #4d4d4d;
    margin-left: 9vw;

}
#left  span{
       color: rgb(76, 175, 79);
}
#left  p{
        color:#838484;
    margin-left: 9vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#left .btn1{
    margin-left: 9vw;
    width:8vw;
    color:#ebf6eb;
    font-size: 1vw;
}

#right{
    width: 45%;
    margin-top:  20vh;

}
#right img{
    width: 37vw;
    height: 47vh;
    margin-left: 4vw;
}

/*-----Client------*/

#client{
    width: 100%;
    height: 100vh;
    background-color: #fff;

}
#client h1{
    text-align: center;
    margin-top: 10vh;
    color: #4d4d4d;

}
#client p{
   color:#878787;

}
#client .heading{
    margin-left: 30vw;
    margin-top: 9vh;
    width: 43vw;
    font-size: 2.8vw;
    font-weight: 800;
    text-align: center;
    color: #4d4d4d;

}
#client p{
    text-align: center;
    margin-top: 2vh;
    color:#878787;

}

#client ul{
    list-style: none;
    display: flex;
    gap:9vw;
    margin-left: 9vw;
    margin-top: 5vh;

}
#client ul li{
    display: inline-flex;
}


.companies{
    display: flex;
    margin-top: 15vh;
    margin-left: 13vw;
    gap: 6vw;

}
.companies .company-1{
    text-align: center;
    align-items: center;
    width: 21vw;

}
.company-1 .name{
    color: #4d4d4d;
    width: 9vw;
    margin-left: 5vw;


}
.company-1 .description{
color:#878787;
     
}


/*-----Pixelgrade----------*/
.pixelgrade{
    display: flex;
    background-color: #fff;
    margin-top: 15vh;
    

}
.pixelgrade .left{ 
    margin-left: 9vw;
    width: 40vw;

}
.pixelgrade .right{ 
    
    margin-top: 11vh;
    width: 40vw;
    margin-right: 15vw;



}
.pixelgrade .right .title{
    font-size: 2vw;
    font-weight:700;
    color: #4d4d4d;
    width: 30vw;
    margin-bottom:3vh ;
    padding-right: 5px;



}
.pixelgrade .right .para{
   color:#878787;
   width: 47vw;

      
}
.pixelgrade .right .btn2{
   margin-right: 29vw;
}

.suggest{
    margin-top: 5vh;
}

.suggest .pixel-img img{
        width: 21vw;
        height: 61vh;
}


/*---local---*/
#local{
    height: 40vh;
    background-color: rgb(245, 247, 250);

    display: flex;
}
#left-side{
    width: 30vw;
}
#local #left-side{
    margin-top: 7vh;
    width: 25vw;
    margin-left: 9vw;
    padding: 5vh;

}
#local #left-side .nam{
    font-size:2.4vw;
    font-weight: 700;
    color: #4d4d4d;

}
#left-side .nam span{
   color: rgb(76, 175, 79);
   margin-right: 15vw;
}
#right-side{
    width: 65vw;
    margin-left: 14vw;

  
}
#right-side .member-1{
    display: inline-block;
    position: relative;
    top:17px;
    bottom:0;
    
}

#right-side .member-1 .part{
    display: flex;
}

#right-side .mem-2{
    position: relative;
    top:17px;
    bottom:0;
    left:241px;
}

#right-side .mem-3{
    position: relative;
    top:139px;
    right:306px;
}

#right-side .mem-4{
    position: relative;
    top:139px;
   left:-47px;

}


/*---------Customer------*/

.customer{
    margin-top: 3vw;
    background-color: rgb(245, 247, 250);
}

.customer .custom-img img{
    margin-left: 4vw;
    margin-top: 6vh;
    width: 22vw;
    height: 51vh;
}
.right .cli-logo ul{
   list-style-type: none;
    overflow: auto;
}
.right .cli-logo ul li{
      float: left;
      padding-left: 17px;

}


/*--Marketing-----*/
#marketing{
    width: 98vw;
    height: 100vh;
}
#care{
    width: 50vw;
    text-align: center;
    margin-left: 25vw;
    margin-top: 7vh;
}

#marketing .images{
    margin-left: 11vw;
}

#marketing .image-1{
    display: inline-block;
    padding-left: 1vw;
    margin-top: 9vh;
    
}
#marketing .image-1 img{
     width: 24vw;
     height: 39vh;
     border-radius: 10px;
}
#marketing .description{
    margin-left: 13vw;
}
.description .box-1{
    width: 18vw;
    height: 20vh;
    border-radius: 10px;
    display: inline-block;
    color: #46474d;
    position: relative;
    top: -54px;
    left: 33px;
    text-align: center;
    background-color: #fff;
    padding: 6px;
}
.description .box-2{
    left: 121px;
    position: relative;
    padding-right: 2px;

}
.description .box-3{
    left: 220px;
    position: relative;

}
.description .box-1 h4{
    color: #717171;
}

/*-----Footer-*/
#footer{
    background-color: rgb(245, 247, 250);

}
#footer #footer-1{
    text-align: center;
}
#footer #footer-1 .head{
    margin-left: 29vw;
    padding-top: 5vw;
}
#footer #footer-1 .head h1{
     font-size: 3rem;
    font-weight: 900;
    width: 40vw;
}

#footer #footer-2{
    background-color: #263238;
    width: 98.7vw;
    height: 50vh;
    margin-top: 6vw;
    display: inline-flex;
    color: #fff;
}
#footer #footer-2 .logo{
    margin-top: 5vh;
}
#footer #footer-2 .logo p{
    color: rgb(232, 235, 238);
    margin-left: 9vw;
    line-height: 2vw;
    padding-top: 3vh;
}
#footer-2 #footer-right{
    width: 50%;
    margin-left: 22vw;
    margin-top: 11vh;
    display: inline-flex;
}
#footer-2 #footer-right ul{
    list-style-type: none;
    padding-top: 9px;
}
#footer-2 #footer-right ul li{
    padding-top: 9px;
    color: rgb(232, 235, 238);
}
#footer-2 #footer-right #service{
    margin-left: 6vw;
}
#footer-2 #footer-right #update{
    margin-left: 6vw;
}
#footer-2 #footer-right #update input{
    width: 18vw;
    height: 5vh;
    background-color: rgb(81, 91, 96);
    color: rgb(232, 235, 238);
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    padding-left: 7px;
}

/*--responsive navbar--*/
@media (max-width: 890px){
    #nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 70px
       
    }
    #nav ul li{
        display: block;
        text-align: center;
    }
   #checkbtn{
        display: block;
    }
    .main{
        display: block;
    }
    .main #left{
        width: 100%;
        background-color: red;
    }
    .main #left h1{
        font-size: 3vw;
    }
}